*{
    background-color: rgb(207, 221, 236);
    margin: 2%;
    padding: 2%;
    box-sizing: border-box;
    text-align: center;
    

}
html, body{
    background-color: rgb(141, 95, 184);

}

@media screen and (min-width: 800px) {
    
    html{
        padding: 0;
        margin: 0;
        background-color: white;
    }
    body{
        display: flex;
        justify-content: center;
        padding: 0;
        margin: 0;
        background-color: white;
    }
    #container{
        box-shadow: 5px 5px 6px 1px rgb(63, 63, 63);
        background-color: rgb(141, 95, 184);
        border: 1px solid red;
    }
    
}
body{
    display: flex;
    justify-content: center;
}


header{
    border: 1px solid;
    border-radius: 15px;
    box-shadow: 5px 5px 6px 1px rgb(63, 63, 63);
    width: 300px;
    
}

img{
    max-width: 300px;
    max-height: 250px;
    
}

div{
    border-radius: 15px;
    box-shadow: 5px 5px 6px 1px rgb(63, 63, 63);
}

#container{
    background-color: rgb(141, 95, 184);
    border-radius: 30px;
    display: grid;
    grid-template:auto;
    justify-items: center;
    justify-self:center;
}
textarea{
    text-transform: uppercase;
    text-decoration: black;
    font-size: larger;
    font-weight: bolder;
    border-radius: 20px;
}

#result{
    font-size: larger;
}
button, input{
    box-shadow: 5px 5px 6px 1px rgb(63, 63, 63);
    border-radius: 15px;
}
#buttons > input{
    
    width: 40px;
    height: 40px;
    margin: 3px;
    

}